/scripts/point_cloud.py
/scripts/K.txt
/scripts/model_from_obj.py
/scripts/matrix_visualization.py
/scripts/stereo_brick.py
/scripts/stereo_test.py
/scripts/T.npy
/scripts/R.npy
/test.py
/todos.txt
/shader/
/images/
/rendering/models/model_files/
